@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body { 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.content-lk-blog-org {
  height: 100vh;
  width: 100%;
  display: flex;
}

.menu-org {
  padding: 15px;
  flex-basis: 25%;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* .menu-org .active {
  color: #F9A826;
  text-decoration: underline;
} */

.menu-org h1 {
  color: #F9A826
}

.menu-org ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}

.menu-org ul li {
  height: 100%;
  margin: 5px;
  height: 20px;
  list-style: none;
}

.menu-org ul li a {
  text-decoration: none;
  color: #31074d;
  transition-duration: 0.5s;
}

.menu-org ul li a:hover {
  color: #F9A826;
  text-decoration: underline;
}

.menu-org ul li a:active {
  color: #F9A826;
}

.main-page-org{
  padding: 20px 40px;
  flex-basis: 80%;
  background: #f9fafc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.dashboard-info-org {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #31074d;
}

.info-block-org{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
}

.first-org, .second-org{
  border-radius: 20px;
  background-color: rgba(149, 200, 247, 0.295);;
  width: 47%;
  height: 80%;
}

.welcome-org{
  height: 230px;
  background-color: rgba(149, 200, 247, 0.295);
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.welcome-org img {
  width: 300px;
  height: 130px;
}

.welcome-org .text-org{
  color: #31074d;
  font-weight: bold;
}

.foto-block-org{
  padding: 20px;
  flex-basis: 25%;
  background-color: white;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.logout-org{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logout-org h3{
  color: #31074d;
  transition-duration: 0.7s;
}

.logout-org h3:hover {
  color: #F9A826;
  cursor: pointer;
}

.foto-org {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.foto-org img{
  width: 100px;
  height: 150px;
  margin: 0px
}

.foto-org p{
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.foto-org span {
  font-size: 15px;
  color: lightgray;
}

.react-org {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.react-org img {
  width: 200px;
  height: 150px;
}

.social-org {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.social-org p{
  margin-bottom: 5px;
  font-weight: bold;
}

.social-org ul {
  margin: 0px;
  width: 80%;
}

.social-org ul li{
  height: 30px;
  width: 100%;
  color: lightgray;
  list-style: none;
  transition-duration: 0.6s;
}

.social-org ul li:hover{
  height: 30px;
  width: 100%;
  color: #31074d;
  list-style: none;
}

.title-ad {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-ad button{
  width: 60%;
  margin: 15px auto;
  border-radius: 20px;
  height: 20px;
  padding: 3px;
  transition-duration: 0.5s;
  outline: none;
}

.title-ad button:hover {
  border: 0.5px solid; 
  background-color: rgba(249, 168, 38, 0.671);
  color: black;
}

.title-ad input{
  padding: 5px;
  margin: 5px;
  height: 15px;
  border-radius: 10px;
  padding-left: 5px;
  outline: none;
  border: 0.5px solid;
}

.my-offer {
  margin: 15px;
}

.stavka{
  margin: 10px 30px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}

