.avatar {
  margin: 20px;
  padding: 10px;
  width: 150px;
  height: 120px;
  border: 2px solid blue;
  border-radius: 30%;
}

.search {
  width: 240px;
  border: 2px solid grey;
  padding: 10px; 
  margin: 15px;
  border-radius: 20px;
}
