.cont{
  text-align: center;
}

.auth {
  
  display: flex;
  align-items: center;
  max-width: 400px;
  flex-direction: column;
}

.modal-blog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.modal-body-blog {
  padding: 2rem;
  width: 400px;
  border-radius: 5px;
  background: #fff;
  height: 200px;
}
.modal-cancel-blog {
  float: right;
}
